In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./Data/2023_filtered.csv")

In [4]:
frequency_df = df.groupby(['country', 'artists_country']).size().reset_index(name='count')
frequency_df.to_csv("./Data/artist_country_distribution.csv", index=False)

In [5]:
frequency_df.head()

  country artists_country  count
0      ae              AR     12
1      ae              AU      7
2      ae              CA     62
3      ae              CO      6
4      ae              DE      3

In [6]:
frequency_df[frequency_df["country"]=="kr"].head()

    country artists_country  count
604      kr              AR      4
605      kr              AU      7
606      kr              CA      7
607      kr              DE      3
608      kr              GB     26