In [2]:
import pandas as pd
chunksize = 10**6
filtered_chunks = []
target_year =  2023

In [3]:
for chunk in pd.read_csv("./Data/year_country_artists.csv", chunksize=chunksize):
    filtered_chunk = chunk[chunk['year'] == target_year]
    filtered_chunks.append(filtered_chunk)

filtered_df = pd.concat(filtered_chunks)
filtered_df.to_csv(f"{target_year}_filtered.csv", index=False)

In [4]:
filtered_df.head()

,Unnamed: 0,date,country,artists,year,artists_country
6,6,2023/02/02,co,"['Kalido', 'Totoy El Frio', 'HIT$ MUSIC']",2023,NaN
541,541,2023/03/09,pl,['Kronkel Dom'],2023,NaN
542,542,2023/03/16,pl,['Kronkel Dom'],2023,NaN
543,543,2023/03/23,pl,['Kronkel Dom'],2023,NaN
544,544,2023/03/30,pl,['Kronkel Dom'],2023,NaN