In [2]:
import pandas as pd
filtered_df = pd.read_csv("./Data/2023_filtered.csv")
unique_df = pd.read_csv("./Data/unique_artists_with_country2023.csv")

In [ ]:
filtered_df['artists_country'] = None

In [3]:
artist_country_map = unique_df.set_index("unique_artists")["country"].to_dict()

In [4]:
def map_country(artists_list, artist_country_map):
    for artist in eval(artists_list):  # 문자열로 저장된 리스트 평가
        if artist in artist_country_map:
            return artist_country_map[artist]
    return None

In [5]:
filtered_df['artists_country'] = filtered_df['artists'].apply(
    lambda x: map_country(x, artist_country_map)
)

In [6]:
filtered_df.to_csv("./Data/2023_filtered.csv", index=False)

In [7]:
filtered_df.head()

,Unnamed: 0,date,country,artists,year,artists_country
0,6,2023/02/02,co,"['Kalido', 'Totoy El Frio', 'HIT$ MUSIC']",2023,Unknown
1,541,2023/03/09,pl,['Kronkel Dom'],2023,DE
2,542,2023/03/16,pl,['Kronkel Dom'],2023,DE
3,543,2023/03/23,pl,['Kronkel Dom'],2023,DE
4,544,2023/03/30,pl,['Kronkel Dom'],2023,DE