In [1]:
import pandas as pd
import chardet

path = "./Data/regional_charts.csv"
chunk_size = 100000
chunks = []
category = ["date","country","artists"]

In [2]:
for chunk in pd.read_csv(path,chunksize = chunk_size):
    chunk = chunk[category]
    chunk['year'] = chunk['date'].str[:4]
    chunks.append(chunk)
df = pd.concat(chunks, axis = 0)
df.drop(columns=["date"])
df.to_csv("./Data/year_country_artists.csv")

In [3]:
df.head()

         date country         artists  year
0  2021/04/15      de  ['Haftbefehl']  2021
1  2019/01/31      jp     ['Suchmos']  2019
2  2018/11/15      tr    ['Nilipek.']  2018
3  2018/11/22      tr    ['Nilipek.']  2018
4  2018/11/29      tr    ['Nilipek.']  2018