In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("./Data/year_country_artists.csv")
unique_values = df["artists"].unique()
unique_df = pd.DataFrame({"Unique Values": unique_values})
unique_df.to_csv("./Data/unique_artists.csv", index=False)

unique_df.head()

                               Unique Values
0                             ['Haftbefehl']
1                                ['Suchmos']
2                               ['Nilipek.']
3  ['Kalido', 'Totoy El Frio', 'HIT$ MUSIC']
4  ['Totova & Freddie Shuman', 'Begi Lotfi']

In [5]:
df = pd.read_csv("./Data/2023_filtered.csv")
df['unique_artists'] = df['artists'].apply(eval)
all_items = [item for sublist in df['unique_artists'] for item in sublist]
unique_values = list(set(all_items))
unique_df = pd.DataFrame({'unique_artists': unique_values})
unique_df.to_csv("./Data/unique_artists_2023.csv", index=False)
unique_df.head()

  unique_artists
0          Lojay
1  Arshman Naeem
2         Plan B
3    Niall Horan
4       Beatrick